span#current-temp{
	line-height:75px;
}

span#wx-temp{
	font-size:3.75rem;
	font-weight:100;
	
}

span#wx-unit{
	font-size:2.75rem;
	font-weight:100;
}

#windCompassSpeed, #windCompassContainer{
	width: 65px;
	line-height: 70px;
	font-size: 1.125rem;
}

.dial {
	border-radius: 50%;
	width: 59px;
	height: 59px;
	border: 3px solid #818282;
	position: relative;
}

.arrow-direction{
	width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 18px solid #1e2023;
position: absolute;
left: 23.5px;
top: -10px;
}

