$green: #00FF00;
$red: #FF0000;
$blue: #0000FF;

/* Space out content a bit */
body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* some nice centered entries */
.entry-home {
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;

    i {
        padding-left: 10px;
    }
}

.wx-data {
	font-size:1.50rem;
	font-weight:100;
}

.wx-value {
	font-size: 1.5rem;
	font-weight: 200;
}

.wx-unit {
	font-size: 1.5rem;
	vertical-align: super;
	font-weight:100;		
}

.wx-temp {
	@extend .wx-data;
	font-size: 4.75rem;
	.wx-value{
		font-size: 4.75rem;
	}
}

.wx-cold {
	color:$blue;
}
.wx-warm {
	color:$green;
}
.wx-hot {
	color:$red;
}

#curWind {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    
    #windCompassContainer {
	    width: 50px;
	    height: 50px;
	    overflow: hidden;
	    
	    #windCompass {
		    position: absolute;
		    top: 0;
		    left: 0;
		    display: block;
		    
		    .dial {
			    border-radius: 50%;
			    width: 59px;
			    height: 59px;
			    border: 3px solid #818282;
			    position: relative;
			    -moz-box-sizing: content-box;
			    -webkit-box-sizing: content-box;
			    box-sizing: content-box;
			}
			
			.arrow-direction {
			    width: 0;
			    height: 0;
			    border-left: 6px solid transparent;
			    border-right: 6px solid transparent;
			    border-top: 18px solid #1e2023;
			    position: absolute;
			    left: 23.5px;
			    top: -10px;
			    border-top-color: $green;
			}
		}
		
		#windCompassSpeed {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 65px;
		    font-size: 1.125rem;
		    line-height: 70px;
		    display: block;
		    text-align: center;
		    font-weight: 500;
		}
		
		#windN {
		    position: absolute;
		    top: 5px;
		    left: 0;
		    width: 65px;
		    font-size: 0.5rem;
		    text-align: center;
		    font-size: 0.65rem;
		}
		
		#windCompassSpeed {
		    font-size: 0.9375rem;
		    width: 65px;
		    line-height: 65px;
		}
	}
}



	
